<h3>{{viewTitle}}</h3>
<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <div class="col-sm-6">
            <label>Full Name</label>
            <input type="text" class="form-control" name="fullName" value="{{employee.fullName}}"
                placeholder="Enter Full Name">
            <div class="text-danger"> {{employee.fullNameError}} </div>
            <label></label>
        </div>

        <div class="col-sm-6">
            <label>Birth</label>
            <input type="date" class="form-control" name="birth" value="{{employee.fullName}}"
                placeholder="Enter Birth">
            <label></label>
        </div>

        <div class="col-sm-6">
            <label>Choose a Position</label>
            <select type="text" class="form-control" name="position" value="{{employees.position}}"
                placeholder="Position">
                <option value="manager">Manager</option>
                <option value="order">Order</option>
                <option value="guard">Guard</option>
                <option value="other">Other</option>
            </select>
            <label></label>
        </div>

        <div class="col-sm-6">
            <label>Phone</label>
            <input type="text" class="form-control" name="phone" value="{{employee.phone}}" placeholder="Enter Phone">
            <label></label>
        </div>

        <div class="col-sm-6">
            <label>UserName</label>
            <input type="text" class="form-control" name="userName" value="{{employee.userName}}"
                placeholder="Enter UserName">
            <div class="text-danger"> {{employee.userNameError}} </div>
            <label></label>
        </div>

        <div class="col-sm-6">
            <label>Password</label>
            <input type="password" class="form-control" name="password" value="{{employee.password}}"
                placeholder="Enter Password">
            <div class="text-danger"> {{employee.passwordError}} </div>
            <label></label>
        </div>

        <div style="text-align:left;">
            <button type="submit" class="btn btn-info">Submit</button>
            <a href="/employee/list" class="btn btn-danger">View All</a>
        </div>
    </div>


</form>